<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Retos Módulo - Grafeno</title>
    <link rel="stylesheet" href="../../assets/css/retos_modulos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark-theme">
    <canvas id="bgCanvas"></canvas>
    <div class="retos-overlay">
      <div class="top-bar">
        <button id="btn-atras" class="bar-button-atras">Atrás</button>
      </div>
      <div class="main-content">
        <div class="retos-list" id="retos-list"></div>
        <div class="reto-detail" id="reto-detail">
          <div id="download-status" class="download-status"></div>
        </div>
      </div>
    </div>
    <script src="../background/background.js"></script>
    <script src="retos_modulos.js"></script>
  </body>
</html>
