<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Grafeno</title>
    <link rel="stylesheet" href="../../assets/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <canvas id="bgCanvas"></canvas>
    <div class="login-overlay" id="loginOverlay">
      <div class="loading-overlay" id="loadingOverlay">
        <div class="spinner"></div>
      </div>
      <div class="login-container">
        <div class="login-left">
          <h1 class="title">Iniciar Sesión</h1>
          <form id="loginForm">
            <label for="username">Usuario</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Usuario"
              required
            />
            <label for="apiToken">API-TOKEN</label>
            <input
              type="password"
              id="apiToken"
              name="apiToken"
              placeholder="API-TOKEN"
              required
            />
            <!-- Checkbox para recordar credenciales -->
            <div class="remember-container">
              <input type="checkbox" id="rememberCreds" />
              <label for="rememberCreds">Recordar credenciales</label>
            </div>
            <button type="submit" class="btn-login">Login</button>
          </form>
          <div id="error-message" class="error-message"></div>
        </div>
        <div class="login-right">
          <p>
            ¿Aún no tienes credenciales para usar esta herramienta?
            <br />
            <a
              href="https://offs.es"
              target="_blank"
              class="link-credentials"
              >Accede a offs.es</a
            >
          </p>
          <p style="margin-top: 20px;">O escanea este QR para acceder:</p>
          <div class="qr-container">
            <!-- El QR se generará aquí dinámicamente -->
          </div>
        </div>
      </div>
    </div>
    <script src="../background/background.js"></script>
    <script src="login.js"></script>
  </body>
</html>
